@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,400;1,600;1,700&family=Public+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-family: 'Public Sans', sans-serif
}

h1,
h2 {
  font-family:  'Public Sans', sans-serif;
  color: hsl(233, 26%, 24%);
}

p,
small,
h6 {
  color: #808080;
}


